# STRINGS

### 1. DEFINING A STRING

Define an empty string and name it as **```text```**

In [1]:
text = ''

### 2. ASSIGNING A VARIABLE

Assign the variable with **```“The old clock chimed midnight, echoing through the empty house.”```**

In [2]:
text = "The old clock chimed midnight, echoing through the empty house."

### 3. ACCESSING STRING ELEMENTS USING INDEX

Access the elements at **```index 5, index 15, index 32, and index 45```**. If the index is out of bounds, return **```None```**.

In [3]:
indices = [5, 15, 32, 45]

for index in indices:
    if index > len(text):
        print("None")
        continue

    print(text[index])

l
h
c
h

### 4. ACCESSING STRING ELEMENTS USING NEGATIVE INDEXING

Access the last element, fifth-to-the last element, and eight-to-the-last element of the string using negative indexing.

In [4]:
print(text[-1])
print(text[-5])
print(text[-8])

.
o
y

### 5. SLICING OPERATOR

Get a subset of string using slicing operator:

In [5]:
text[10:-10]

'ock chimed midnight, echoing through the em'

5.1 Get the subset of **```text```** from index 30 to index -10

In [6]:
text[30:-10]

' echoing through the em'

5.2 Get the subset of **```text```** from index 0 to index -20

In [7]:
text[:-20]

'The old clock chimed midnight, echoing thro'

5.3 Get the subset of **```text```** from index 0 till the last element where step is 6

In [8]:
text[::6]

'Tdken nohts'

### 6. STRING MANIPULATIONS

6.1 Change all characters in a string to lowercase

In [9]:
text.lower()

'the old clock chimed midnight, echoing through the empty house.'

6.2 Change all characters in a string to uppercase

In [10]:
text.upper()

'THE OLD CLOCK CHIMED MIDNIGHT, ECHOING THROUGH THE EMPTY HOUSE.'

6.3 Split the string into substrings where the delimiter is a space

In [11]:
text.split(' ')

['The',
 'old',
 'clock',
 'chimed',
 'midnight,',
 'echoing',
 'through',
 'the',
 'empty',
 'house.']

### 7. REPLACE STRINGS

7.1 Replace **```“old clock”```** with **```“freshly painted clock”```**

In [12]:
text.replace("old clock", "freshly painted clock")

'The freshly painted clock chimed midnight, echoing through the empty house.'

7.2 Replace **```“chimed”```** with **```“chimes”```**

In [13]:
text.replace("chimed", "chimes")

'The old clock chimes midnight, echoing through the empty house.'

7.3 Replace **```“g”```** with **```“f”```**

In [14]:
text.replace('g', 'f')

'The old clock chimed midnifht, echoinf throufh the empty house.'

### 8. LOOP STRINGS

8.1 Using the **```range()```** method

In [15]:
for c in range(len(text)):
    print(text[c])

T
h
e

o
l
d

c
l
o
c
k

c
h
i
m
e
d

m
i
d
n
i
g
h
t
,

e
c
h
o
i
n
g

t
h
r
o
u
g
h

t
h
e

e
m
p
t
y

h
o
u
s
e
.

8.2 Using the syntax **```for var in obj```**

In [16]:
for c in text:
    print(c)

T
h
e

o
l
d

c
l
o
c
k

c
h
i
m
e
d

m
i
d
n
i
g
h
t
,

e
c
h
o
i
n
g

t
h
r
o
u
g
h

t
h
e

e
m
p
t
y

h
o
u
s
e
.

# LISTS

### 1. DEFINING A LIST

Define an empty list and name it as **```my_lists```**

In [17]:
my_lists = []

Add the following elements in the list **```[“apples”, “money”, 20, 3.14, “cherry”, “tomatoes”]```**

In [18]:
my_lists += ["apples", "money", 20, 3.14, "cherry", "tomatoes"]
print(my_lists)

['apples', 'money', 20, 3.14, 'cherry', 'tomatoes']

### 2. ACCESSING LIST ELEMENTS USING INDEX

Access the elements at **```index 0, index 5, index 7, and index 9```**. If the index is out of bounds, return **```None```**.

In [19]:
indices = (0, 5, 7, 9)

for index in indices:
    if index > len(my_lists) or index < 0:
        print("None")
        continue
    print(my_lists[index])

apples
tomatoes
None
None

### 3. ACCESSING LIST ELEMENTS USING  NEGATIVE INDEXING

Access the last element, second-to-the last element, and third-to-the-last element of **```my_lists```** using negative indexing.

In [20]:
print(my_lists[-1])
print(my_lists[-2])
print(my_lists[-3])

tomatoes
cherry
3.14

### 4. SLICING OPERATOR

Get a subset of **```my_lists```** using the slicing operator. 

*Note make sure that you have checked first if the index is not out of bounds before doing the slicing operator.*

4.1 Get the subset of **```my_lists```** from index 0 to the third-to-the last element

In [21]:
my_lists[2:-2]

[20, 3.14]

4.2 Get the subset of **```my_lists```** from index 3 to the second-to-the last element

In [22]:
my_lists[3:-2]

[3.14]

4.3 Get the subset of **```my_lists```** from index 0 to index 5 where step is 2

In [23]:
my_lists[:5:2]

['apples', 20, 'cherry']

### 5. ADDING AND REMOVING LIST ELEMENTS

Perform the following list operations in **```my_lists```**

5.1 Add a new element **```“holiday”```** and insert it at the end of the list

In [24]:
my_lists.append("holiday")
print(my_lists)

['apples', 'money', 20, 3.14, 'cherry', 'tomatoes', 'holiday']

5.2 Add a new element **```87.69```** and insert it at index 3

In [25]:
my_lists.insert(3, 87.69)
print(my_lists)

['apples', 'money', 20, 87.69, 3.14, 'cherry', 'tomatoes', 'holiday']

5.3 Remove the last element

In [26]:
my_lists.pop(len(my_lists) - 1)
print(my_lists)

['apples', 'money', 20, 87.69, 3.14, 'cherry', 'tomatoes']

5.4 Remove the element at **```index 4```**

In [27]:
my_lists.pop(4)
print(my_lists)

['apples', 'money', 20, 87.69, 'cherry', 'tomatoes']

5.5 Remove element **```3.14```** from the list. If the element does not exist, then return **```None```**.

In [28]:
try:
    my_lists.pop(my_lists.index(3.14))
except:
    print("None")

None

### 6. CREATE A NEW LIST

Define a new list **```numbers = [1, 9, 7, 65, 87, 586, 900, 25, 95, 87]```**

In [29]:
numbers = [1, 9, 7, 65, 87, 586, 900, 25, 95, 87]

### 7. MODIFYING LIST ELEMENTS

Perform the following operations in **```numbers```**

7.1 Replace the value at **```index 5```** to 100

In [30]:
numbers[5] = 100
print(numbers)

[1, 9, 7, 65, 87, 100, 900, 25, 95, 87]

7.2 Modify the value at **```index 7```** by adding 10 to its original value

In [31]:
numbers[7] += 10
print(numbers)

[1, 9, 7, 65, 87, 100, 900, 35, 95, 87]

7.3 Modify the value at **```index 3```** by dividing it by 5

In [32]:
numbers[3] /= 5
print(numbers)

[1, 9, 7, 13.0, 87, 100, 900, 35, 95, 87]

### 8. LOOP THE ELEMENTS IN A LIST

8.1 Using the **```range()```** method

In [33]:
for i in range(len(numbers)):
    print(numbers[i])

1
9
7
13.0
87
100
900
35
95
87

8.2 Using the syntax: **```for var in obj```**

In [34]:
for n in numbers:
    print(n)

1
9
7
13.0
87
100
900
35
95
87

### 9. SORTING LIST ELEMENTS

9.1 Sort the list in ascending order

In [35]:
numbers.sort()
print(numbers)

[1, 7, 9, 13.0, 35, 87, 87, 95, 100, 900]

9.2 Sort the list in descending order

In [36]:
numbers.sort(reverse=True)
print(numbers)

[900, 100, 95, 87, 87, 35, 13.0, 9, 7, 1]

### 10. DEFINING A NEW LIST

Create a new list **```days = [“Monday”, “Tuesday”, “Wednesday”, “Thursday”, “Friday”]```**

In [37]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

### 11. LIST COPY

11.1 Create a copy of **```days```** and name it as **```days_copy```**

In [38]:
days_copy = days.copy()
print(days_copy)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

11.2 Add a new element **```“Saturday”```** in **```days```**

In [39]:
days.append("Saturday")
print(days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

11.3 Check how this affects **```days_copy```**. Will it also be affected or not?

In [40]:
print(days_copy)
# Not affected

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

### 12. JOIN TWO LISTS

Combine the elements of **```numbers```** and **```days```**

12.1 Using the **```+```** operator

In [41]:
new_list = numbers + days
print(new_list)

[900, 100, 95, 87, 87, 35, 13.0, 9, 7, 1, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

12.2 Using the **```append()```** method

In [42]:
numbers.append(days)
print(numbers)

[900, 100, 95, 87, 87, 35, 13.0, 9, 7, 1, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']]

12.3 Using the **```extend()```** method

In [43]:
numbers.extend(days)
print(numbers)

[900, 100, 95, 87, 87, 35, 13.0, 9, 7, 1, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'], 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

### 13. UNPACKING LIST ELEMENTS

Unpack the elements in **```days```**. Using these variables: **```day1, day2, other_days```**

In [44]:
day1, day2, *other_days = days
print(day1)
print(day2)
print(other_days)

Monday
Tuesday
['Wednesday', 'Thursday', 'Friday', 'Saturday']

# TUPLE

### 1. DEFINING A TUPLE

Define a tuple. 

**```fruits = ("strawberry", "orange", "banana", "apple", "mango")```**

In [45]:
fruits = ("strawberry", "orange", "banana", "apple", "mango")

### 2. ACCESSING ELEMENTS IN A TUPLE USING INDEXING

Access the elements at **```index 0, index 3, and index 6```**. If the index is out of bounds, return **```None```**.

In [46]:
indices = [0, 3, 6]

for i in indices:
    if i > len(fruits) or i < 0:
        print("None")
        continue
    print(fruits[i])

strawberry
apple
None

### 3. ACCESSING ELEMENTS IN A TUPLE USING NEGATIVE INDEXING

Access the last element, second-to-the last element, and third-to-the-last element of **```fruits```** using negative indexing.

In [47]:
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])

mango
apple
banana

### 4. SLICING OPERATOR

Get the subset of tuples using the slicing operator

4.1 Get the subset of tuples from index 1 to the last element

In [48]:
print(fruits[1:])

('orange', 'banana', 'apple', 'mango')

4.2 Get the subset of tuples from index 0 to the second-to-the last element

In [49]:
print(fruits[0:-2])

('strawberry', 'orange', 'banana')

4.3 Get the subset of tuples from index 0 to the last element where **step is 3**

In [50]:
print(fruits[0::3])

('strawberry', 'apple')

### 5. CONVERTING A TUPLE INTO A LIST

Convert the tuple into a list and do the following operations:

5.1 Add the elements **```“mango”, “watermelon”```** to the end of the list

In [51]:
fruits = list(fruits)
fruits.append("mango")
fruits.append("watermelon")
print(fruits)

['strawberry', 'orange', 'banana', 'apple', 'mango', 'mango', 'watermelon']

5.2 Insert the element **```“grapes”```** at index 2

In [52]:
fruits.insert(2, "grapes")
print(fruits)

['strawberry', 'orange', 'grapes', 'banana', 'apple', 'mango', 'mango', 'watermelon']

5.3 Remove the last element in the list

In [53]:
fruits.pop(len(fruits) - 1)
print(fruits)

['strawberry', 'orange', 'grapes', 'banana', 'apple', 'mango', 'mango']

5.4 Remove the element at index 3 in the list

In [54]:
fruits.pop(3)
print(fruits)

['strawberry', 'orange', 'grapes', 'apple', 'mango', 'mango']

5.5 Remove the element **```“apple”```** in the list. If the element does not exist, return **```None```**.

In [55]:
try:
    fruits.pop(fruits.index("apple"))
except:
    print("None")
print(fruits)

['strawberry', 'orange', 'grapes', 'mango', 'mango']

5.6	Modify the value at index 3 to **```“melon”```**

In [56]:
fruits[3] = "melon"
print(fruits)

['strawberry', 'orange', 'grapes', 'melon', 'mango']

### 6. CONVERT THE LIST INTO A TUPLE

In [57]:
fruits = tuple(fruits)
type(fruits)

tuple

### 7. LOOP THE ELEMENTS IN A TUPLE

7.1 Using the **```range()```** method

In [58]:
for i in range(len(fruits)):
    print(fruits[i])

strawberry
orange
grapes
melon
mango

7.2 Using the syntax: **```for var in obj```**

In [59]:
for f in fruits:
    print(f)

strawberry
orange
grapes
melon
mango

### 8. UNPACK A TUPLE

Unpack the elements in the tuple using these variables: **```fruit1, fruit2, other_fruits```**

In [60]:
fruit1, fruit2, *other_fruits = fruits
print(fruit1)
print(fruit2)
print(other_fruits)

strawberry
orange
['grapes', 'melon', 'mango']